

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Projects</title>
</head>
<body>
<h1>Projects</h1>
<table>
<thead>
<tr>
<th>Project Name</th>
<th>Project Description</th>
<th>Project Lead</th>
</tr>
</thead>
<tbody>
{% for project in projects %}
<tr>
<td><a href="/project/{{ project.name }}">{{ project.name }}</a></td>
<td>{{ project.description }}</td>
<td>{{ project.lead }}</td>
</tr>
{% endfor %}
</tbody>
</table>
</body>
</html>


